<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <img src="~/img/Logo.png" alt="Page Logo" />
            </li>
            <li>
                <a href="/home/index"> Home</a>
            </li>
            <li>
                <a href="/home/about"> About</a>
            </li>
            <li>
                <a href="/home/contact"> Contact</a>
            </li>
            <li>
                <a href="/home/projects"> Projects</a>
            </li>
            <li>
                <a href="/doctor/fevercheck"> Fever Check</a>
            </li>
            <li>
                <a href="/GuessingGame/guessinggame"> Guessing Game</a>
            </li>
        </ul>
    </nav>
    <section>
        <div>
            @RenderBody()
        </div>
    </section>
    <footer>@DateTime.Now.ToShortDateString() &copy;Ahmad Zarour</footer>
</body>

</html>
