<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <img src="~/img/Logo.png" alt="Page Logo" />
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index"> Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About"> About</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Contact"> Contact</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Projects"> Projects</a>
                </li>
                <li>
                    <a asp-controller="Doctor" asp-action="FeverCheck"> Fever Check</a>
                </li>
                <li>
                    <a asp-controller="GuessingGame" asp-action="GuessingGame"> Guessing Game</a>
                </li>

                <li>
                    <a asp-controller="People" asp-action="PeopleList">People</a>
                </li>

            </ul>
        </nav>
    </header>
    <section>
        <div>
            @RenderBody()
        </div>
    </section>
    <footer>@DateTime.Now.ToShortDateString() &copy;Ahmad Zarour</footer>
</body>

</html>
