
@model PeopleViewModel;

@{ ViewData["Title"] = "People"; }

<h1>People Index</h1>
<!DOCTYPE html>
<html>
<head>
    <title> People List</title>
</head>
<body>


    <div>
        <form asp-action="PeopleList" method="post" role="form">
            <h4>Find person by id</h4>
            <label asp-for="Filter"> Search here</label>
            <input asp-for="Filter" required />
            <input type="submit" name="btnFilter" value="Find" />


        </form>
    </div>
    <br />
    <div>
        <form asp-action="CreatePerson" method="post" role="form">

            <div>
                <h4><b>Add New Person</b></h4>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <br />
                <span style="color:red" asp-validation-for="Name"></span>

                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" />
                <br />
                <span style="color:red" asp-validation-for="PhoneNumber"></span>

                <label asp-for="City"></label>
                <input asp-for="City" />
                <br />
                <span style="color:red" asp-validation-for="City"></span>

            </div>

            <input type="submit" name="btnCreatePerson" value="Add New Person" />

        </form>
    </div>
    <br />

    

    <div class="container">
        <partial name="_partialPeopleList" model="Model.PeopleListViewModel" />
    </div>

</body>
</html>



